/* Estilos para el catálogo */
.catalog-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .catalog-title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 24px;
    text-align: center;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  .product-grid2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    max-width: 1300px; /* 5 × 250px + gaps aprox */
    margin: 0 auto;     /* Centra el grid */
  }
  
  .loading {
    text-align: center;
    font-size: 1.2rem;
    color: #666;
    padding: 40px;
  }