:root {
    --primary-color: #2DDF1F;
    --secondary-color: #34a853;
    --gray-button: #92A1B5;
    --text-color: #333;
    --light-gray: #f5f5f5;
  }
  body::before {
    content: "";
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('/src/assets/images/onda-main.svg');
    background-size:  70%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
    top: 70%;
    left: 50%;
    width: 100%;
    height: 200%;
    transform: translate(-48%, -40%) rotate(90deg);
    z-index: -1;
  }
  body {
    font-family: 'Inter',   sans-serif; 
    margin: 0;
    padding: 0;
    color: var(--text-color);
    
    
    
  }
  .login-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh; 
    background-color: white;
    
    
  }
  .login-vibe{
    background-repeat: no-repeat;
    background-image: url('/src/assets/images/onda-main.svg');
  }
  .login-page {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    
    
    
  }
 

  .logoIcon {
    display: flex;
    justify-content: center;
    width: auto;
    height: 150px;
    margin-bottom: 0rem;
  }
  /* Heading */
    .login-page h1 {
      text-align: left;
      margin-bottom: 1.5rem;
      color: #000;
     
      font-size: 24px;
      font-style: bold;
      font-weight: 700;
      line-height: normal;
  }
  
  .input-container {
    margin-bottom: 1rem;
  }
  
  .input-container label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .input-container input {
    width: 97%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
  }
  
  .button {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .primary-button {
    background-color: var(--primary-color);
    color: white;
    width: 100%;
    height: 40px;
    border-radius: 8px;
  }
  
  .primary-button:hover {
    background-color: #0C9500;
  }
  
  .second-button {
    background-color: var(--gray-button);
    color: white;
    width: 50%;
    height: 40px;
    border-radius: 8px;
  }
  
  .second-button:hover {
    background-color: #657181;
  }
  .social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
    height: 40px;
    margin-bottom: 0.5rem;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-family: Inter;
    font-size: 18px;
    font-style: bold;
  }
  
  .social-button img {
    width: 30px;
    height: 30px;
  }
  .social-login-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }
  .social-button:hover {
    background-color: #d6d4d4;
  }
  .separator {
    text-align: center;
    margin: 1.5rem 0;
    color: #777;
    position: relative;
  }
  
  .separator::before,
  .separator::after {
    content: "";
    display: inline-block;
    width: 50%;
    height: 1px;
    background-color: #ddd;
    position: absolute;
    top: 50%;
  }
  
  .separator::before {
    left: 0;
  }
  
  .separator::after {
    right: 0;
  }
  
  .forgot-password,
  .register-link {
    text-align: center;
    margin: 1rem 0;
  }
  
  .forgot-password a,
  .register-link a {
    color: var(--text-color);
    text-decoration: none;
  }
  
  .forgot-password a:hover,
  .register-link a:hover {
    text-decoration: underline;
  }
  /* Register */

  .register-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100vh; 
    background-color: white;
  }
  .register-vibe{
    background-repeat: no-repeat;
    background-image: url('/src/assets/images/onda-main.svg');
    
    background-attachment: fixed;
  }
  .register-page {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.register-container h1 {
  text-align: left;
  font-size: 16px;
  margin-bottom: 1.5rem;
  color: #333;
}

.form-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem;
  border-radius: 6px;
}

.form-section h2 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: #444;
}

.error-message {
  color: #d32f2f;
  background: #fde0e0;
  padding: 0.75rem;
  border-radius: 4px;
  margin-bottom: 1rem;
  text-align: center;
}

.role-select {
  display: block;
  width: 100%;
  padding: 0.75rem;
  margin-top: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

.login-link {
  text-align: center;
  margin-top: 1 rem 0;
  color: #666;
}

.login-link a {
  color: #333;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  flex-wrap: wrap;
  gap: 50px;
}

.logo img {
  height: 70px;
  width: auto;
  transition: all 0.3s;
  
}

.logo img:hover {
  transform: scale(1.2);
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
  gap: 20px;
}

.buscar-form {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.buscar-form input[type="text"] {
  padding: 8px;
  border: 1px solid greenyellow;
  border-radius: 4px 0px 0px 4px;
  width: 350px;
  max-width: 500px;
}

.buscar-form button {
  padding: 8px 12px;
  background-color: #5bf800;
  color: white;
  border: none;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
}

.auth-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.auth-links a {
  text-decoration: none;
  font-size: 16px;
  color: #333;
}

.auth-links a:hover {
  color: #007bff;
}

.cart-link img {
  margin-right: 5px;
  height: 20px;
  width: auto;
}

.etiquetalogo {
  display: none;
}


.cart-link svg { 
  font-size: 2.5rem;   
  color: #2DDF1F;   
  vertical-align: middle; 
  transition: color 0.3s ease; 
}


.cart-link:hover svg {
  color: #0b9b17; 
}


.cart-link {
    display: inline-flex; 
    align-items: center;  
    gap: 2px; 
    text-decoration: none; 
}