.product-list-container {
  margin-top: 20px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.product-actions {
  display: flex;
  gap: 8px;
}

.add-product-btn , .logout-btn {
  background-color: #1890ff;
  color: white;
  border: none;
  padding: 8px 16px;
  margin-bottom: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.add-product-btn:hover {
  background-color: #40a9ff;
}

/* Estilos para la tabla */
.ant-table {
  border-radius: 8px;
  overflow: hidden;
}

.ant-table-thead > tr > th {
  background-color: #f0f2f5 !important;
  font-weight: 600;
}

/* Estilos para los botones de acciones */
.ant-btn-primary {
  background-color: #1890ff;
  border-color: #1890ff;
}

.ant-btn-danger {
  background-color: #ff4d4f;
  border-color: #ff4d4f;
  color: white;
}

/* Estilos para los tags de stock */
.ant-tag-green {
  background-color: #f6ffed;
  border-color: #b7eb8f;
  color: #52c41a;
}

.ant-tag-red {
  background-color: #fff2f0;
  border-color: #ffccc7;
  color: #ff4d4f;
}