/* Estilos para la tarjeta de producto */
.product-card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: visible;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.product-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
  
}

.product-image {
  width: 100%;
  height: 200px;
  object-fit: contain;
}
.product-image-home {
  width: 100%;
  height: 200px;
  object-fit: contain;
  transition: transform 0.5s ease;
}
.product-image-home:hover {
  transform: scale(1.3);
}
.product-info {
  padding: 16px;
}

.product-name {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  margin: 0 0 8px 0;
}

.product-description {
  color: #666;
  margin: 0 0 12px 0;
  font-size: 0.9rem;
}

.product-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price {
  font-weight: bold;
  color: #2BD71C; /* Azul similar a Tailwind's blue-600 */
}

.product-button {
  padding: 6px 12px;
  background: #2BD71C;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  font-size: 0.9rem;
  transition: background 0.2s ease;
}

.product-button:hover {
  background: #a5a5a5; /* Azul más oscuro al hover */
  transform: scale(1.3);
}
.product-card.inactive {
  position: relative;
  border: 1px solid #ffcccc;
}

.inactive-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inactive-badge {
  background-color: #ff4d4f;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.disabled-link {
  background-color: #d9d9d9 !important;
  color: #8c8c8c !important;
  cursor: not-allowed;
  pointer-events: none;
  text-decoration: line-through;
}

